log:
  json: false
  level: info

bosh:
  log_level: error
  url: https://10.0.0.6:25555     # or env BOSH_ENVIRONMENT
  ca_cert: <path-to-bosh-ca-cert> # or value in env BOSH_CA_CERT
  client_id: admin                # or env BOSH_CLIENT
  client_secret: <secret>         # or env BOSH_CLIENT_SECRET
  proxy: <proxy if any>           # or env BOSH_ALL_PROXY
  excludes:
    - compilation

github:
  token: <your-token-here>
  update_interval: 4h
  manifest_releases:
    cf:
      owner: cloudfoundry
      repo: cf-deployment
      manifest: cf-deployment.yml
      ops:
        - operations/use-haproxy.yml
        - operations/backup-and-restore/enable-backup-restore.yml
      matchers: [ "cloudfoundry(-.*)?", "cf(-.*)?" ]
    prometheus:
      owner: bosh-prometheus
      repo: prometheus-boshrelease
      manifest: manifests/prometheus.yml
      ops:
        - manifests/operators/enable-cf-route-registrar.yml
        - manifests/operators/use-sqlite3.yml
      matchers: [ "prometheus(-.*)?" ]
    concourse:
      types: [ "tag" ]
      owner: concourse
      repo: concourse-bosh-deployment
      manifest: cluster/concourse.yml
      vars:
        - versions.yml
      matchers: [ "concourse(-.*)?" ]
  generic_releases:
    terraform-provider-credhub:
      owner: orange-cloudfoundry
      repo: terraform-provider-credhub
    bbl:
      owner: cloudfoundry
      repo: bosh-bootloader
    bosh-cli:
      owner: cloudfoundry
      repo: bosh-cli
    stemcell:
      owner: cloudfoundry
      repo: bosh-linux-stemcell-builder
      format:
        match: "ubuntu-xenial/v([0-9+.]+)"
        replace: "${1}"
