github-token: <secret>

log:
  json: false
  level: debug

bosh:
  log_level: error
  url: your-bosh-url
  ca_cert: path-to-ca-certs
  client_id: admin
  client_secret: secret
  # username: admin
  # password: my-password
  # proxy: some proxy to access bosh

bosh-deployment:
  cf:
    owner: cloudfoundry
    repo: cf-deployment
    manifest: cf-deployment.yml
    ops:
      - operations/use-haproxy.yml
      - operations/backup-and-restore/enable-backup-restore.yml
  prometheus:
    owner: bosh-prometheus
    repo: prometheus-boshrelease
    manifest: manifests/prometheus.yml
    ops:
      - manifests/operators/enable-cf-route-registrar.yml
      - manifests/operators/use-sqlite3.yml
  bosh:
    owner: cloudfoundry
    repo: bosh-deployment
    manifest: bosh.yml
    ops:
      - vsphere/cpi.yml
      - uaa.yml
      - credhub.yml
      - bbr.yml
  concourse:
    types: [ "tag" ]
    owner: concourse
    repo: concourse-bosh-deployment
    manifest: cluster/concourse.yml
    vars:
      - versions.yml

github-release:
  terraform-provider-credhub:
    owner: orange-cloudfoundry
    repo: terraform-provider-credhub
  bbl:
    owner: cloudfoundry
    repo: bosh-bootloader
  bosh-cli:
    owner: cloudfoundry
    repo: bosh-cli
  stemcell:
    owner: cloudfoundry
    repo: bosh-linux-stemcell-builder
    format:
      match: "stable-([0-9+.]+)"
      replace: "${1}"
